Flask==0.8
Flask-Restless==0.5
Flask-SQLAlchemy==0.16
Jinja2==2.6
SQLAlchemy==0.7.6
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.19
oauthlib==0.1.2
pycrypto==2.5
argparse==1.2.1
python-dateutil==1.5
requests==0.12.0
wsgiref==0.1.2
