{%extends "layout.html"%}
{% block cssStyle%}
	<style type="text/css">
		.iconDiv {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 50%;
			height: 30%;
			margin: auto;
		}
		</style>
{%endblock%}
{% block body%}		
		<div style="text-align: center; width:100%;">
			<h3>Tell us what you think!!</h3>
			As this is in Beta, please let us know what we can do to improve your experience
			<br/>
			<br/>
			<INPUT class="NavButton btn-warning" onclick="NavTo('mailto:mdewey@problemsolutions.net&subject=Gold Star Feedback')" type="button" value="Be heard!!">
		</div>


{% endblock%}
{% block scripts%}

		<script language="javascript">function NavTo(url){ window.location = url }</script>

{%endblock%}