<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="user-scalable=yes,width=device-width, initial-scale=1.0">
		<title> Welcome to Gold Star! </title>
		<link href="../static/css/bootstrap.css" rel="stylesheet" >
	</head>
	<body>
		<div class="navbar" style="width:100%; padding-left:0px; padding-right:0px;">
			<div class="navbar-inner" style="width:100%; padding-left:0px; padding-right:0px;">
				<div class="container" style="width:100%; padding-left:0px; padding-right:0px;">
					<div style="text-align:center; width:100%;padding-left:0px; padding-right:0px;">
							<img src="../static/img/goldstar.png" width="20" height="20" /> <button id="login1" class="btn btn-large btn-inverse" onclick="toggleLoginView(this.id)">Login</button> <button id="login2" class="btn btn-large btn-inverse" onclick="toggleLoginView(this.id)">Sign Up</button><img src="../static/img/goldstar.png" width="20" height="20" />
					</div>
				</div>
			</div>
		</div>
		<div id="index1" class="container" style="width:100%; padding-left:0px; padding-right:0px;display:none;">
			<div class="well" style="width:100%; padding-left:0px; padding-right:0px;">
				<h2 style="text-align:center;">Welcome to Gold Star!</h2><br /><br />
					<h6 style="text-align:center;"> Please provide some information to us before starting: </h6>
					<p> 
						<table class="table" style="width:100%; padding-left:0px; padding-right:0px;">
							<tr>
								<td style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id="FName" type="text" class="" placeholder="First Name" name="FName" maxlength="50" required>
								</td>
								
							</tr>
							<tr>
								<td style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id="LName" type="text" class="" placeholder="Last Name" name="LName" maxlength="50" required>
								</td>
								
							</tr>
							<tr>
								<td style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id="Email" type="email" class="" placeholder="Email" name="Email" maxlength="100" required>
								</td>
								
							</tr>
							<tr>
								
								<td style="text-align:center;">
									<!-- <input type="submit" class="btn btn-info" value="Sign Up" /> -->
									<button id="signupbtn" class="btn btn-large btn-primary" onclick="postJSON(this.id, 0)">Sign Up</button>
								</td>
							</tr>
						</table>
					</p>
			</div>
		</div>
		<div id="index2" class="container" style="width:100%; padding-left:0px; padding-right:0px;display:block;">
			<div class="well" style="width:100%; padding-left:0px; padding-right:0px;">
				 <h2 style="text-align:center;">Welcome to Gold Star!</h2><br /><br />
				<h6 style="text-align:center;"> Please use your email address to log in: </h6>
				<p> 
					<table class="table" style="width:100%; padding-left:0px; padding-right:0px;">
						<tr>
							<td style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
								<input id="txtemail" type="email" class="" placeholder="Email" name="Email" maxlength="100" required>
							</td>	
						</tr>
						<tr>
							<td style="text-align:center;">
								<button id="loginbtn" class="btn btn-large btn-primary" onclick="login()">Log In</button>
								<!--<input type="submit" class="btn btn-info" value="Log In" /> -->
							</td>
						</tr>
					</table>
				</p>
				<p style="text-align:center;">Not a user?  No problem! <a onclick="toggleLoginView('login2')" href="#">Click here to Sign Up</a></p>
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="../static/js/customscripts.js"></script>
		<script src="../static/js/bootstrap.js"></script>
	</body>
</html>