<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="user-scalable=yes,width=device-width">
		<title>{{page.title}}</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet"/>
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet"/>
		<link href="../static/css/jquery-ui-1.8.20.custom.css" rel="stylesheet"/>
		<style type="text/css">
		.modalgradient
		{
			background-image: linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -o-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -moz-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -webkit-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -ms-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(255,244,120)),
				color-stop(0.55, rgb(250,255,99))
			);
		}
		</style>
			{% block cssStyle %}{% endblock %}
	</head>
	<body>
	
		<div class="navbar" >
			<div class="navbar-inner" >
				<div class="container" >
					<!--  -->
					{% if not page.hideStarButton %}

					<a class="brand">Hello <a class="underline brand" href="/users/{{ user.ID }}">{{user.firstName}}!</a></a>					
					<ul class="nav pull-right">
						
						<li><a href="#myModalview"><button  onclick="showModal(); getJSON(0);" class="btn btn-inverse" ><img width="23px" height="20px" src=../static/img/goldstar.png /></button></a></li>
					</ul>
					{%endif%}
				</div>
			</div>
		</div>
		

	<div class="modal" id="myModal" style="display:none">
			<div class="modal-header modalgradient" >
				<button class="close" data-dismiss="modal">Close</button>
				<h3>Give a Star</h3>
			</div>
			<div class="modal-body modalgradient">
				<table style="width:98%">
					<tr>
						<td><h4>Who</h4><input id="modalViewUser" type="text" class="input-medium" placeholder="Person" /></td>
						<td>
							<h4>Did</h4>
							<select style="width:100px;" id ="modalViewVerb">
								<option name="-1" selected>Select One</option>
								<option name="Influenced">Influenced</option>
								<option name="Impressed">Impressed</option>
								<option name="Persuaded">Persuaded</option>
								<option name="Helped">Helped</option>
								<option name="Inspired">Inspired</option>
								<option name="Guided">Guided</option>
							</select>
							<!--<input id="modalViewVerb" type="text" class="input-small" placeholder="Verb" /> -->
						</td>
					</tr>
				</table>
				<div style="clear:both"></div>
				<h4>Description</h4>
				<textarea id="modalViewTextarea" onKeyDown="limitText(this.id, 100);" onKeyUp="limitText(this.id, 100);" style="resize:none; width:98%" rows="3" placeholder="Short description (100 character limit) *Optional"></textarea>
				<h4>Hashtag</h4>
				<input id="modalViewEvent" style="width:98%" type="text" class="input-medium" placeholder="Event" />
			</div>
			<div class="modal-footer modalgradient" >
				<a href="#" class="btn btn-danger" data-dismiss="modal" style="width:33%; float:left;" onclick="resetModalView()">Cancel</a>
				<a href="#" class="btn btn-success" style="width:33%; float:right;" onclick="if(noGiveStarErrors()){postJSON({{ user.ID }}, 1);}">Give</a>
			</div>
		</div>
		
		<div id="MainContent">
			{% for message in get_flashed_messages() %}
  				  <div class=flash>{{ message }}</div>
 			{% endfor %}
  			{% block body %}{% endblock %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
		<script src="../static/js/bootstrap-modal.js"></script>
		<script src="../static/js/knockout-2.1.0.js"></script>		
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/customscripts.js"></script>
		<script>
			function noGiveStarErrors(){
				var noErrors = true;
				if (document.getElementById("modalViewUser").name == ""){
					alert("Cannot identify Name.  Please make sure you are using a name from the drop down menu.");
					noErrors = false;
				}
				e = document.getElementById("modalViewVerb");
				var e2 = e.options[e.selectedIndex].value;
				if (e2 == "Select One"){
					alert("Please select a verb.");
					noErrors = false;
				}
				if (document.getElementById("modalViewEvent").value == ""){
					alert("Please use a hashtag.");
					noErrors = false;
				}
				if(noErrors)
					return true;
				else
					return false;
			
			}
			$(function(){
				try
				{
					var hashurl = "/getHashtags"
					$.getJSON(hashurl, function(data){
						$( "#modalViewEvent" ).autocomplete({
							datatype:'json',
							source: data.hashtags
						});				
					});
				}
				catch(ex)
				{
					alert(ex.message);
				}
			})
		</script>
			{% block scripts %}
			{% endblock %}
	</body>
</html>