<!doctype html>
<html>

<head><title>Login</title>
		<meta name="viewport" content="user-scalable=yes,width=device-width, initial-scale=1.0">
		<title> Welcome to Gold Star! </title>
		<link href="../static/css/bootstrap.css" rel="stylesheet" >
	</head>
	<body>
		<div class="navbar" style="width:100%; padding-left:0px; padding-right:0px;">
			<div class="navbar-inner" style="width:100%; padding-left:0px; padding-right:0px;">
				<div class="container" style="width:100%; padding-left:0px; padding-right:0px;">
					<div style="text-align:center; width:100%;padding-left:0px; padding-right:0px; padding-top:1em; margin:0.5em;">
							<img src="../static/img/goldstar.png" width="30" height="30" /><span style="font-size:2em; padding:1em;">Gold Star</span><img src="../static/img/goldstar.png" width="30" height="30" />
					</div>
				</div>
			</div>
		</div>
		<div id="index1" class="container" style="width:100%; padding-left:0px; padding-right:0px;display:none;">
			<div class="well" style="width:100%; padding-left:0px; padding-right:0px;">
				<h2 style="text-align:center;">Welcome!</h2>
				<h4>Please sign in below!</h4>
				<br /><br />
			</div>
		</div>
		<div style="width:100%">
			<form action="{{ url_for('login') }}" method="post">
			  {{ form.hidden_tag() }}
			  <div style="float:left;width:40%;">&nbsp;</div>	
			  <div id="container" style="float:left;width:35%;">
				
					<div>
						{{ form.username.label }}{{ form.username }}
					</div>
					<div>
						{{ form.password.label }}{{ form.password }}
					</div>
					<button type="submit" class="btn btn-warning">Login</button>
				  	<!--<td colspan="3" style="text-align:center;">{{ form.submit }}</td>-->
				</div>
			    
			    
				
			</form>
			<br/>
			<br/>
			<div style="clear:both"></div>
			<div style="width:100%; text-align:center;"><a href="#">Don't have an account?</a></div>
			
		</div>

</body>
</html>
