<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="user-scalable=yes,width=device-width">
		<title>Gold Stars</title>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet"/>
		<link href="../static/css/goldstar.css" rel="stylesheet"/>
		<link href="../static/css/smoothness/jquery-ui-1.8.20.custom.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
					<img class="pull-left" style="margin-top:3px; margin-right:3px" width="30" height="30" src="../static/img/goldstar.png" />
					<a id="userNameNav" class="brand" href="#"> Hello <span data-bind="text:firstName" id="name" style="text-align:right;"></span></a>
					<img class="pull-right" style="margin-top:3px;" width="30" height="30" src="../static/img/goldstar.png" />
					<button class="btn btn-small" onclick="userLogout()" href="#">Logout</a>
<!-- 					<div style="text-align:center;">
						<button id="gg" class="btn btn-small" onclick="toggleView(this.id)">Give A Star</button>
						<button id="ms" class="btn btn-small" onclick="toggleView(this.id)">My Stars</button>
						<button id="as" class="btn btn-small" onclick="toggleView(this.id)">Issued Stars</button>-->
						<!-- <button id="storage" class="btn btn-small" onclick="canUseStorage()">Test for HTML5</button> -->
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div id="gold1" class="span2">
					<h2> Give Gold Stars</h2> <br />				
					<h6>HERE YOU CAN GIVE A GOLD STAR TO SOMEONE WHO HAS HAD A POSITIVE IMPACT ON YOU</h6>
					<div id="tbl1">
						<div id="give1" style="display:block;">
							<h6>CHOOSE A PERSON TO GIVE A STAR TO</h6>
							<p>
								<input id="select1"/>
							</p>
						</div>
						<div id="give2">
							<h6>CHOOSE WHAT THE PERSON DID</h6>
							<p> 
								<label for="select2">Select Star</label>
								<input id="select2" />
							</p>
						</div>
						<div id="give3" >
							<h6>CHOOSE TO COMMENT (120 character limit)</h6>
							<p>
								<textarea id="select3" onKeyDown="limitText(this.id, 120);" onKeyUp="limitText(this.id, 120);" placeholder="Type Here..." style="width:100%;height:65px;resize:none"></textarea><br />
								<button id="innergive3" class="btn btn-info btn-small" onclick="postJSON('select2', 1)">Give Star</button>
							</p>
						</div>
					</div>
				</div>
				<div id="gold2" class="span10">
					<table id="starsyougave" class="table table-striped" style="width:100%;">
						<tbody data-bind="foreach: stars">
							<tr>
								<td data-bind="text: ownerfullName"></td>
								<td data-bind="text: category"></td>							
								<td data-bind="text: issuerfullName"></td>
								<td><button data-bind="value: id" class="btn btn-primary btn-mini"  onclick="showDescription(this.value)">Description</button></td>
							</tr>
							<tr>
								<td colspan="4"><div data-bind="attr: { id: id }, text: description" style="display: none"></div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">></script>
		<script src="../static/js/customscripts.js"></script>
		<script src="../static/js/knockout-2.1.0.js"></script>		
		<script src="../static/js/bootstrap.js"></script>
		<script type="text/javascript">
			$(function(){
				if(sessionStorage.userID);
				else
					sessionStorage.userID = {{ loginID }};
				try
				{
					$( "#select2" ).autocomplete({
						source: ["Influenced","Helped","Guided","Impressed","Persuaded","Inspired"],
					});				
				}
				catch(ex)
				{
					alert(ex.message);
				}
				getJSON(0); 
				getJSON(1);
			});
		</script>
	</body>
	
	
</html>