<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="user-scalable=yes,width=device-width">
		<title>Gold Star</title>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
	</head>
	<body onload="getJSON(0)">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<img class="pull-left" style="margin-top:3px;" width="30" height="30" src="../static/img/goldstar.png" />
					<img class="pull-right" style="margin-top:3px;" width="30" height="30" src="../static/img/goldstar.png" />
					<div style="text-align:center;">
						<button id="logout" class="btn btn-small" onclick="userLogout()">Log Out</button>
						<button id="gg" class="btn btn-small" onclick="toggleView(this.id)">Give</button>
						<button id="ms" class="btn btn-small" onclick="toggleView(this.id)">Got</button>
						<button id="as" class="btn btn-small" onclick="toggleView(this.id)">Given</button>
						<button id="storage" class="btn btn-small" onclick="canUseStorage()">Test for HTML5</button>
					</div>
				</div>
			</div>
		</div>
		<div id="gold1" style="display:block;">
			<div class="container">
				<div class="well">
					<h2> Give Gold Star </h2> <br />
					<h6>HERE YOU CAN GIVE A GOLD STAR TO SOMEONE WHO HAS HAD A POSITIVE IMPACT ON YOU</h6>
					<p><div id="jsondump" style="text-align:right;"></div></p>
					<p> <button id="btnshow1" class="btn btn-info btn-small" onclick="toggleInnerView(this.id)">Click Here to Begin</button></p>
					<div id="tbl1" style="display:none;">
						<div id="give1" style="display:none;">
							<h6>CHOOSE A PERSON TO GIVE A STAR TO</h6>
							<p>
									<select id="select1">
									</select> <button onclick="showselect('select1')">showSelValue</button>
									<p><button type="submit" id="innergive1" class="btn btn-info btn-small" onclick="giveGoldStar(this.id)">Choose Who</button></p>
							</p>
						</div>
						<div id="give2" style="display:none;">
							<h6>CHOOSE WHAT THE PERSON DID</h6>
							<p> 
								<select id="select2">
									<option selected>Select One</option>
									<option value="Influenced">INFLUENCED</option>
									<option value="Helped">HELPED</option>
									<option value="Guided">GUIDED</option>
									<option value="Impressed">IMPRESSED</option>
									<option value="Persuaded">PERSUADED</option>
									<option value="Inspired">INSPIRED</option>
								</select> <button onclick="showselect('select2')">showSelValue</button>
							</p>
							<p> <button id="innergive2" class="btn btn-info btn-small" onclick="giveGoldStar(this.id)">Choose Why</button></p>
						</div>
						<div id="give3" style="display:none;">
							<h6>CHOOSE TO COMMENT (120 character limit)</h6>
							<p>
								<textarea id="select3" onKeyDown="limitText(this.id, 120);" onKeyUp="limitText(this.id, 120);" placeholder="Type Here..." style="width:100%;height:65px;resize:none"></textarea><br />
								<button id="innergive3" class="btn btn-info btn-small" onclick="postJSON('select2', 1)">Give Star</button> 
								<!-- <button id="innergive3" class="btn btn-info btn-small" ><a style="color:white;text-decoration:none;" href="results.html">Give Star</a></button> -->
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="gold2" style="display:none;">
			<div class="container">
				<div class="well">
					<h2> My Gold Stars</h2> <br />
					<h6>THESE ARE THE STARS THAT PEOPLE HAVE AWARDED YOU</h6>
					<p> <button id="btnshow2" class="btn btn-info btn-small" onclick="toggleInnerView(this.id)">Click Here to Show</button><button id="btnhide2" style="display:none;" class="btn btn-info btn-small" onclick="toggleInnerView(this.id)">Click Here to Hide</button></p>
					<div id="tbl2" style="display:none;">
						<table class="table table-striped" style="width:100%;">
							<tr>
								<td>You</td>
								<td>INFLUENCED</td>
								<td>Michael Jordan</td>
							</tr>
							<tr>
								<td>You</td>
								<td>HELPED</td>
								<td>Michael Jackson</td>
							</tr>
							<tr>
								<td>You</td>
								<td>GUIDED</td>
								<td>Michael Jayson</td>
							</tr>
							<tr>
								<td>You</td>
								<td>IMPRESSED</td>
								<td>Michael Johnson</td>
							</tr>
							<tr>
								<td>You</td>
								<td>PERSUADED</td>
								<td>Michael Ji-son</td>
							</tr>
							<tr>
								<td>You</td>
								<td>INSPIRED</td>
								<td>Michael Ji-son</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="gold3" style="display:none;">
			<div class="container">
				<div class="well">
					<h2> Awarded Stars </h2> <br />
					<h6>THESE ARE THE STARS THAT YOU HAVE AWARDED PEOPLE</h6>
					<p> <button id="btnshow3" class="btn btn-info btn-small" onclick="toggleInnerView(this.id)">Click Here to Show</button><button id="btnhide3" style="display:none;" class="btn btn-info btn-small" onclick="toggleInnerView(this.id)" >Click Here to Hide</button></p>
					<div id="tbl3" style="display:none;">
						<table class="table table-striped" style="width:100%;">
							<tr>
								<td>Michael Jordan</td>
								<td>INFLUENCED</td>
								<td>You</td>
							</tr>
							<tr>
								<td>Mike Jordan</td>
								<td>HELPED</td>
								<td>You</td>
							</tr>
							<tr>
								<td>Matt Jordan</td>
								<td>GUIDED</td>
								<td>You</td>
							</tr>
							<tr>
								<td>Mark Jordan</td>
								<td>IMPRESSED</td>
								<td>You</td>
							</tr>
							<tr>
								<td>Mitch Jordan</td>
								<td>PERSUADED</td>
								<td>You</td>
							</tr>
							<tr>
								<td>Mitch Jordan</td>
								<td>INSPIRED</td>
								<td>You</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
			
		<script src="../static/js/bootstrap.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="../static/js/customscripts.js"></script>
	</body>
	
	
</html>