{%extends "layout.html"%}
{% block cssStyle%}
		<style type="text/css">
		.modalheader
		{
			background-image: linear-gradient(bottom, rgb(255,237,76) 49%, rgb(245,241,159) 6%);
			background-image: -o-linear-gradient(bottom, rgb(255,237,76) 49%, rgb(245,241,159) 6%);
			background-image: -moz-linear-gradient(bottom, rgb(255,237,76) 49%, rgb(245,241,159) 6%);
			background-image: -webkit-linear-gradient(bottom, rgb(255,237,76) 49%, rgb(245,241,159) 6%);
			background-image: -ms-linear-gradient(bottom, rgb(255,237,76) 49%, rgb(245,241,159) 6%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.49, rgb(255,237,76)),
				color-stop(0.06, rgb(245,241,159))
				);
		}
		.tier5
		{
			background: #aa1100;
			background: -moz-linear-gradient(top,  #aa1100 1%, #bb2200 44%, #910018 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#aa1100), color-stop(44%,#dd0033), color-stop(100%,#910018));
			background: -webkit-linear-gradient(top,  #aa1100 1%,#bb2200 44%,#910018 100%);
			background: -o-linear-gradient(top,  #aa1100 1%,#bb2200 44%,#910018 100%);
			background: -ms-linear-gradient(top,  #aa1100 1%,#bb2200 44%,#910018 100%);
			background: linear-gradient(top,  #aa1100 1%,#bb2200 44%,#910018 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa1100', endColorstr='#910018',GradientType=0 );


		}
		.tier4
		{
			background: #bb2200;
			background: -moz-linear-gradient(top,  #bb2200 1%, #ee5500 44%, #bb2200 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bb2200), color-stop(44%,#ee5500), color-stop(100%,#bb2200));
			background: -webkit-linear-gradient(top,  #bb2200 1%,#ee5500 44%,#bb2200 100%);
			background: -o-linear-gradient(top,  #bb2200 1%,#ee5500 44%,#bb2200 100%);
			background: -ms-linear-gradient(top,  #bb2200 1%,#ee5500 44%,#bb2200 100%);
			background: linear-gradient(top,  #bb2200 1%,#ee5500 44%,#bb2200 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb2200', endColorstr='#bb2200',GradientType=0 );


		}
		.tier3
		{
			background: #ee5500;
			background: -moz-linear-gradient(top,  #ee5500 1%, #ff7744 44%, #ee5500 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ee5500), color-stop(44%,#ff7744), color-stop(100%,#ee5500));
			background: -webkit-linear-gradient(top,  #ee5500 1%,#ff7744 44%,#ee5500 100%);
			background: -o-linear-gradient(top,  #ee5500 1%,#ff7744 44%,#ee5500 100%);
			background: -ms-linear-gradient(top,  #ee5500 1%,#ff7744 44%,#ee5500 100%);
			background: linear-gradient(top,  #ee5500 1%,#ff7744 44%,#ee5500 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee5500', endColorstr='#ee5500',GradientType=0 );


		}
		.tier2
		{
			background: #ff7744;
			background: -moz-linear-gradient(top,  #ff7744 1%, #ffaa55 44%, #ff7744 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff7744), color-stop(44%,#ff7744), color-stop(100%,#ff7744));
			background: -webkit-linear-gradient(top,  #ff7744 1%,#ffaa55 44%,#ff7744 100%);
			background: -o-linear-gradient(top,  #ff7744 1%,#ffaa55 44%,#ff7744 100%);
			background: -ms-linear-gradient(top,  #ff7744 1%,#ffaa55 44%,#ff7744 100%);
			background: linear-gradient(top,  #ff7744 1%,#ffaa55 44%,#ff7744 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7744', endColorstr='#ff7744',GradientType=0 );


		}
		.tier1
		{
			background: #ffaa55;
			background: -moz-linear-gradient(top,  #ffaa55 1%, #ffee66 44%, #ffaa55 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffaa55), color-stop(44%,#ffee66), color-stop(100%,#ffaa55));
			background: -webkit-linear-gradient(top,  #ffaa55 1%,#ffee66 44%,#ffaa55 100%);
			background: -o-linear-gradient(top,  #ffaa55 1%,#ffee66 44%,#ffaa55 100%);
			background: -ms-linear-gradient(top,  #ffaa55 1%,#ffee66 44%,#ffaa55 100%);
			background: linear-gradient(top,  #ffaa55 1%,#ffee66 44%,#ffaa55 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa55', endColorstr='#ffaa55',GradientType=0 );


		}
		.tier0
		{
			background: #eeff99;
			background: -moz-linear-gradient(top,  #ffee66 1%, #eeff99 44%, #ffee66 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffee66), color-stop(44%,#eeff99), color-stop(100%,#ffee66));
			background: -webkit-linear-gradient(top,  #ffee66 1%,#eeff99 44%,#ffee66 100%);
			background: -o-linear-gradient(top,  #ffee66 1%,#eeff99 44%,#ffee66 100%);
			background: -ms-linear-gradient(top,  #ffee66 1%,#eeff99 44%,#ffee66 100%);
			background: linear-gradient(top,  #ffee66 1%,#eeff99 44%,#ffee66 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee66', endColorstr='#ffee66',GradientType=0 );


		}
	
		</style>
{%endblock%}
{% block body%}
		
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li style="width:33%; text-align:center" ><a href="#eventTab" data-toggle="tab"> <i class="icon-globe"></i> </a></li>
			<li style="width:33%; text-align:center" class="active"><a href="#myStarsTab" data-toggle="tab"> <i class="icon-user"></i> </a></li>
			<li style="width:33%; text-align:center"><a href="#leaderBoardTab" data-toggle="tab"> <i class="icon-th-list"></i> </a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="eventTab">
				<div style="text-align:center;margin-bottom:9px;">
					<input type="text" class="input-medium search-query" placeholder="Type Here To Search For An Event" style="width:80%;" id="EventTextBox"><br />					
				</div>
					<div class="hero-unit">
					<div class="well"><i>
						<div id="emptyHashtagListMessage">
						</div>
					</i>
					</div>
				</div>
				
				<div id="eventStarList">

				</div>
				
			</div>
			<div class="tab-pane active" id="myStarsTab">
				<div style="text-align:center">
					<select style="width:80%" id="myFeedFilter">
						<option selected>All</option>
						<option>Given</option>
						<option>Received</option>
					</select><br />
					
				</div>
				<div class="hero-unit">
					<div class="well"><i>
						<div id="emptyListMessage">
						</div>
					</i>
					</div>
				</div>
				
				<div id="myStarList">

				</div>
				
			</div>
			<div class="tab-pane" id="leaderBoardTab">
			<table style="width:100%; ">
		
			<tr>
				<td style="text-align:left"><i>Hashtag</i><br />					<input type="text" class="input-medium search-query" placeholder="Search by hashtag" style="width:80%;" id="AllStarEventHashTag"><br />					</td>
				<td style="text-align:left"> 
				<i>Did</i><br/>	
					<select style="width:80%" id="myFeedFilter">
						<option selected>All</option>
						<option>Influenced</option>
						<option>Helped</option>
						<option>Guided</option>
						<option>Impressed</option>
						<option>Persuaded</option>
						<option>Inspired</option>
					</select></td>
			</tr>
			</table>

			<h4>Top Stars</h4>
				<div class="well tier5" id="tier5">
					<div class="well-small" style="background-color:#ffffbb">
						<i>
							Nobody is this bright yet, will you be the first?
						</i>
					</div>			
				</div>
				<h4>Almost Stars</h4>
				<div class="well tier4" id="tier4">
							<div class="well-small" style="background-color:#ffffbb">
						<i>
							Nobody is this bright yet, will you be the first?
						</i>
					</div>			
			
				</div>
				<h4>Average Stars</h4>
				<div class="well tier3" id="tier3">
							<div class="well-small" style="background-color:#ffffbb">
						<i>
							Nobody is this bright yet, will you be the first?
						</i>
					</div>			
			
	 			</div>
	 			<h4>Getting There Stars</h4>
				<div class="well tier2" id="tier2">
							<div class="well-small" style="background-color:#ffffbb">
						<i>
							Nobody is this bright yet, will you be the first?
						</i>
					</div>			
			
	 			</div>
	 			<h4>Warming up</h4>
				<div class="well tier1" id="tier1">
							<div class="well-small" style="background-color:#ffffbb">
						<i>
							Nobody is this bright yet, will you be the first?
						</i>
					</div>			
			
	 			</div>
	 			<h4>Starter Stars</h4>
				<div class="well tier0" id="tier0">
							<div class="well-small" style="background-color:#ffffbb">
						<i>
							Nobody is this bright yet, will you be the first?
						</i>
					</div>			
			
	 			</div>
	 			
			</div>
		</div>
	</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function()
	{
		if (canUseStorage())
		{
			sessionStorage.userID = {{user.ID}}
			pageInit();
		}
		
	})
</script>
<script>
	$(function(){
	try
	{
		$( "#modalViewVerb" ).autocomplete({
			source: ["Influenced","Helped","Guided","Impressed","Persuaded","Inspired"],
		});				
	}
	catch(ex)
	{
		alert(ex.message);
	}
})
</script>
<script src="../static/js/mobileviewjs.js"></script>

{% endblock %}