<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="user-scalable=yes,width=device-width">
		<title>Gold Star</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet"/>
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet"/>
	</head>
	<body>
	
		<div class="navbar" >
			<div class="navbar-inner" >
				<div class="container" >
					<a class="brand">Hello Bob!</a>
					<ul class="nav pull-right">
						
						<li><a href="#"><button class="btn btn-inverse"><img width="23px" height="20px" src=../static/img/goldstar.png /></button></a></li>
						<li><button class="btn" onclick="showModal();">Show Modal</button></li>
					<!--  -->
				</div>
			</div>
		</div>
		<div class="modal" id="myModal" style="display:none">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">Close</button>
    <h3>Give a Star</h3>
  </div>
  <div class="modal-body">
    <p>Enter all dat info.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close this sum bitch</a>
    <a href="#" class="btn btn-primary">Save yo motha fuckin shit bitch</a>
  </div>
</div>
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li style="width:33%; text-align:center" ><a href="#tab1" data-toggle="tab"> <i class="icon-globe"></i> </a></li>
			<li style="width:33%; text-align:center" class="active"><a href="#tab2" data-toggle="tab"> <i class="icon-user"></i> </a></li>
			<li style="width:33%; text-align:center"><a href="#tab3" data-toggle="tab"> <i class="icon-th-list"></i> </a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="tab1">
				<div style="text-align:center;margin-bottom:9px;">
					<input type="text" class="input-medium search-query" placeholder="Type Here To Search For An Event" style="width:80%;"><br />					
				</div>
				<!-- <h1 style="text-align:center; margin: 5px 5px 5px 5px">Currently viewing activity at the [<em>insert conference here</em>]</h1> -->
				<div class="well">					
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>					
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>					
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				</div>
			</div>
			<div class="tab-pane active" id="tab2">
				<div style="text-align:center">
					<select style="width:80%">
						<option selected>All</option>
						<option>Given</option>
						<option>Received</option>
					</select><br />
					
				</div>
				<!-- <h1 style="text-align:center; margin: 5px 5px 5px 5px">currently viewing your activity at the [<em>insert conference here</em>]</h1> -->
				<div class="well">					
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>					
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>					
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>	
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
				<div style="clear:both"></div>
					<hr />
						<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>
						
				</div>
				
			</div>
			<div class="tab-pane" id="tab3">
			<h4>Super Stars</h4>
				<div class="well" style="background-color:red">
					
					<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>	
				</div>
				<h4>Mega Stars</h4>
				<div class="well" style="background-color:blue">
					<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>	
				</div>
				<h4>Rock Stars</h4>
				<div class="well" style="background-color:green">
					<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>	
				</div>
				<h4>Fag Stars</h4>
				<div class="well" style="background-color:pink">
					<img class="pull-left" width="30" height="30" style="margin:4px 4px 4px 4px;" src="../static/img/goldstar.png" />
						<h4>Bob Influenced Sally</h4> 
						<a href="#"><i class="icon-chevron-right pull-right"></i></a>
						<h6>13 minutes ago </h6>	
				</div>
			</div>
		</div>
	</div>
		
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
		<script src="../static/js/mobileviewjs.js"></script>
		<script src="../static/js/bootstrap-modal.js"></script>
		<script src="../static/js/knockout-2.1.0.js"></script>		
		<script src="../static/js/bootstrap.js"></script>
	</body>
</html>