{%extends "layout.html"%}
{% block cssStyle%}
{%endblock%}
{% block body%}
			<div class="well" style="width:100%; padding-left:0px; padding-right:0px;">
				<h2 style="text-align:center;">Welcome to Gold Star!</h2><br /><br />
					<h6 style="text-align:center;"> Please provide some information to us before starting: </h6>
					
					<p> 
						<table class="table" style="width:100%; padding-left:0px; padding-right:0px;">
							<tr>
								<td style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id="FName" type="text" class="" placeholder="First Name" name="FName" maxlength="50" required>
								</td>
							</tr>
							<tr>
								<td style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id="LName" type="text" class="" placeholder="Last Name" name="LName" maxlength="50" required>
								</td>
							</tr>
							<tr>
								<td style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id="Email" type="email" class="" placeholder="Email" name="Email" maxlength="100" required>
								</td>
							</tr>
							<tr>
								<td style ="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id = "PWord" type="password" class="" placeholder="Password" name="PWord" maxlength="100" required>
								</td>
							</tr>
								<tr>
								<td style ="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<input id = "PWordAgain" type="password" class="" placeholder="Re-enter Password" name="PWord" maxlength="100" required>
								</td>
							</tr>
							<tr>
								<td id="enabled" style="text-align:center; width:100%; padding-left:0px; padding-right:0px;">
									<button id="signupbtnenable" class="btn btn-large btn-primary" onclick="sendUserInfoToServer()">Sign Up</button>
								</td>
							</tr>
							<!-- <tr>
								<td id="disabled" style="text-align:center; width:100%; padding-left:0px; padding-right:0px; display:none;">
									<button id="signupbtndisable" class="btn btn-large btn-primary" disabled="disabled">Sign Up</button>
								</td>
							</tr> -->
						</table>
					</p>
			
		</div>
					<div style="clear:both"></div>
			<div style="width:100%; text-align:center;"><a href="/login">Already have an account?</a></div>
{% endblock%}
{% block scripts%}
<script type="text/javascript" src="static/js/passwordValidator.js"></script>
{%endblock%}