<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#GETJSON').click(function(){
					var em = "Dukebdfan@comcast.net";
					var q = '{"filters": [{"name":"email","op":"eq","val":"'+em+'"}]}';
			  		var URL = '/api/user?q=' + q;
			  		$.getJSON(URL, function(jdata){
			  			console.log(URL);
			  			console.log(jdata.objects.length);
			  		});
				});
			});
		</script>
	</head>
	<button id="GETJSON" type="button">Click Me!</button>
</html>