{%extends "layout.html"%}
{% block cssStyle%}
{%endblock%}
{% block body%}
	<div class="well">
		

			<div style="text-align:center"><img style="margin-bottom:1em;" src="../static/img/goldstar.png" height="100" width="100" /></div>
			<h3 style="text-align:center;">
				{{user.firstName}} {{user.lastName}}
			</h3>
			<div style="clear:both"></div>
			<hr />
			
			<table style="text-align:center; width:100%">
					<tr>
						<td style="text-align:center;">{{user.starsGiven}} Stars Given &nbsp;&nbsp;&nbsp;&nbsp; {{user.starsReceived}} Stars Received</td>
					</tr>
					<tr>
						<td colspan=2><a href="../mobileview.html">Go back to feed</a></td>
					</tr>
					<tr>
						<td colspan=2><a href="../feedback">Feedback</a></td>
					</tr>
					<tr>
						<td colspan=2><a href="../logout">Log Out</a></td>
					</tr>
			</table>		
	</div>

{% endblock%}
{% block script%}
{%endblock%}